:local(.app) {
  padding: 20px;
  margin: 10px;
  margin-top: 20px;
  color: white;
  background-color: #85bb65;
  border-radius: 10px;
  min-height: 650px;

  a {
    color: rgb(255, 255, 255);
    text-decoration: none; 
  }

  a:hover {
    color: #0a87f4;
  }
}