:local(.search) {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 80vw;

  select {
    font-size: 20px;
  }

  button {
    font-size: 20px;
    border-radius: 5px;
  }

  input {
    font-size: 20px;
  }
}